@use './assets/scss/partials/header';
@use './assets/scss/partials/main';
@use './assets/scss/partials/footer';
@use './assets/scss/partials/banner';
@use './assets/scss/partials/variables';
@use '../node_modules/bootstrap/dist/css/bootstrap.css';
/* @use './assets/scss/partials/header'; */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}