@use './assets/scss/partials/header';
@use './assets/scss/partials/main';
@use './assets/scss/partials/footer';
@use '../node_modules/bootstrap/dist/css/bootstrap.css';
/* @use './assets/scss/partials/header'; */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}